/* --- Styles généraux de la page --- */
.dashboard {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px;
  background-color: #f1f5f9;
  min-height: calc(100vh - 58px);
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.dashboardTitle {
  font-size: 28px;
  font-weight: 700;
  color: var(--dark);
  position: relative;
  display: inline-block;
}

.dashboardTitle::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 60px;
  height: 4px;
  background: #6366f1;
  border-radius: 4px;
}


/* --- Conteneur du graphique --- */
.wrapper {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center; /* Centre le graphique initialement */
  overflow: auto; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.downloadBtn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.downloadBtn:hover {
  background-color: #4f46e5;
}

.exportWrapper {
  padding: 24px;
  background: white;
}
.exportHeader {
  display: flex;
  align-items: center;
  /* Pousse le logo à gauche et le titre à droite */
  justify-content: space-between; 
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0; /* Ajoute une ligne de séparation subtile */
  border-radius: 20px; /* Coins arrondis pour un look moderne */
  background-color: #f9f9f9; /* Un fond très léger pour distinguer l'en-tête */
}

.logo {
  height: 50px;
  object-fit: contain;
}

.exportTitle {
  font-size: 24px; /* Un peu plus grand pour plus d'impact */
  font-weight: 600; /* Un peu moins gras que 'bold' pour un look moderne */
  color: #4f46e5;
  margin: 0; /* Important pour éviter les marges par défaut du h2 */
}

.organizationCard {
  width: 140px; /* Avant : 200px ou + */
  height: 80px; /* Avant : 100px ou + */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: 12px; /* texte plus petit */
}

.avatar {
  width: 36px; /* Avant : 50px ou plus */
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 4px;
}

.textBox {
  text-align: center;
}

.name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}

.role {
  font-size: 10px;
  color: #666;
}

.wrapper div[id^='chart'] > svg {
  width: 100%;
  height: auto;
}
#chart {
  width: 100% !important;
  height: 100% !important;
  min-height: 700px;
}