/* SearchBar.css */
.custom-search {
    background-color: #ffffff;
    border: 1px solid #5d3f98;
    color: white;
    border-radius: 25px;
    padding-left: 35px;
    width: 50%;
  }
  
  .custom-search:focus {
    border-color: #6d4faf;
    box-shadow: 0 0 0 0.25rem rgba(93, 63, 152, 0.25);
  }
  
  .search-icon {
    color: #8d7db3;
    z-index: 10;
  }

  @media (max-width: 768px) {
    .custom-search {
      font-size: 0.875rem;
      padding-left: 30px;
    }
  
    .search-icon {
      left: 0.3rem;
      top: 55%;
    }
  }